__pycache__
*.pyc
log
*.log
.env
*.env
db/*.env
bot_token.txt
.python-version
*.pem
*.key
*.crt
*.cer
*.p12
db.bak
*.bak
backups/*
*.sql
*.zip
*.tar
*.gz
*.7z
bot_venv
.venv/
venv/
.vscode/
.idea/
.DS_Store
Thumbs.db
